<IfModule mod_rewrite.c>
    RewriteEngine On

    # Process URL with PHP if not a folder or file
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
